<div class="cart-page">
    <h1 class="cart-page-name">Cart <span *ngIf="!cart.items.length">is empty</span></h1>
    <div *ngIf="cart.items.length">
      <table class="cart-table">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>quantity</th>
            <th>Total price</th>
          </tr>
          <tr *ngFor="let item of cart.items">
            <td class="cart-image">
              <div class="cart-product-image">
                <app-product-image [images]="item.product.images"></app-product-image>
              </div>
            </td>
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}тг</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total_price}}тг</td>
          </tr>
          <tr>
            <td></td>
            <td>Summ</td>
            <td></td>
            <td></td>
            <td>{{cart.total_price}}тг</td>
          </tr>
      </table>
    </div>

  </div>
