  .products-main-page{
    display: flex;
    justify-content: space-between;
  }
  .products-categories{
    width: 20%;
    margin: 25px 15px 0 5px;
    height: max-content;
  }

  .products-page{
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
  }

  .products-page-name{
    text-shadow: #FFFFFF 1px 0 3px;
    text-decoration: underline;
    margin-left: 20px;
  }
  .products-page-name-back{
    cursor: pointer;
  }
  .products-category-name{
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .products-products-block{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
  }
  .products-products{
    margin-top: 22px;
    display: flex;
    width: 78%;
    flex-flow: wrap;
  }
  .products-product{
    margin: 0 14px 20px 15px;
    width: 21%;
    border-radius: 3px;
    background-color: #edecd6;
    border: 3px;
    padding: 30px;
    font-size: 20px;
    box-shadow: #000000;
  }
  .products-product-image{
    position: relative;
    width: 98%;
    height: 300px;
  }

  .products-product-name{
    text-align: center;
    font-size: 35px;
    cursor: pointer;
  }

  .products-product-availability{
    margin: 20px 0 10px 0px;
    color: red;
    font-size: 25px;
  }
  .products-product-count{
    border: black 0.1px solid;
    font-size: 30px;
    width: 80px;
    padding-left: 10px;
    font-family: Calibri;
  }
  .products-product-quantity-cart{
    display: flex;
    justify-content: space-between;
  }
  .products-product-cart-btn{
    font-size: 20px;
    width: 110px;
    background-color: darkslateblue;
    border-radius: 2px;
    border: 3px solid #5E5694;
    outline: none;
  }
  .products-product-cart-btn:active{
    border-color: #00000010;
    border-right-color: darkgrey;
    border-bottom-color: darkgray;
  }
  .products-product-price{
    font-size: 18px;
  }
