*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: oblique;
    padding: 0;
    margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appeareance:none;
    margin: 0;
}